{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/ext/extra.css' | url }}" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
  <script src="{{ 'assets/ext/contact_button.js' | url }}"></script>
  <script src="{{ 'assets/ext/categories.js' | url }}"></script>
{% endblock %}

{% block footer %}
    <!-- <div class="profile-wrapper">
      <a href="/about" id="avatar" class="rounded-circle">
        <img src="{{ config.theme.avatar | url }}" width="128" height="128" alt="avatar" onerror="this.style.display='none'">
      </a>
      <h1 class="site-title">
        <a href="/about">Philipp Kopp</a>
      </h1>
      <p>Sharing pragmatic knowledge <br>about 💻tech, <br>🛠️making stuff and <br>📈personal development</p>
      <hr style="height:1px;border-width:0;color:lightgray;background-color:lightgray;">
    </div> -->
    {{ super() }}
    <!-- <div style="background-color: var(--md-default-fg-color); color: white;">
      <h1>✉️ Write a mail to Phil</h1>
      <form action="https://formspree.io/f/xnqklzja" method="POST" style="color: white; font-size: medium;">
        <label>
          Your contact (optional):
          <input type="text" name="contact" placeholder="E.g.: your@email.com" style="background-color: var(--md-default-fg-color); display: grid; width: 100%; color: white;">
        </label>
        <label>
          Your message:
          <textarea name="message" placeholder="Your message" style="background-color: var(--md-default-fg-color); display: grid; width: 100%; height: 64px; color: white;" required=""></textarea>
        </label>
        <input type="submit" value="Submit">
      </form>
    </div> -->
{% endblock %}

{% block site_nav %}
{{ super() }}
<script>
  function linkToClipboard() {
      navigator.clipboard.writeText("https://philipp-kopp.com/{{- page.url | urlencode -}}");
      alert$.next("Copied!");
  }
</script>
<div id="shareButtons" class="md-typeset" style="display: grid; position: fixed; right: 12px; top: 256px; z-index: 999;">
  <a href="https://twitter.com/intent/tweet?text={{- page.title | urlencode -}}&url=https://philipp-kopp.com/{{- page.url | urlencode -}}">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/x-twitter.svg" %}
    </span>
  </a>
  <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://philipp-kopp.com/{{- page.url | urlencode -}}">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
  </a>
  <a href="whatsapp://send?text=https://philipp-kopp.com/{{- page.url | urlencode -}}">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/whatsapp.svg" %}
    </span>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://philipp-kopp.com/{{- page.url | urlencode -}}">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/facebook.svg" %}
    </span>
  </a>
  <a href="http://www.reddit.com/submit?url=https://philipp-kopp.com/{{- page.url | urlencode -}}&{{- page.title | urlencode -}}">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/reddit.svg" %}
    </span>
  </a>
  <a onclick="linkToClipboard()">
    <span class="twemoji">
      {% include ".icons/fontawesome/solid/link.svg" %}
    </span>
  </a>
  <a href="https://github.com/phil-m-kopp/phil-m-kopp.github.io/tree/main/docs/articles/posts">
    <span class="twemoji">
      {% include ".icons/fontawesome/solid/pencil.svg" %}
    </span>
  </a>
  <a href="https://paypal.me/PhilMKopp">
    <span class="twemoji">
      {% include ".icons/fontawesome/brands/paypal.svg" %}
    </span>
  </a>
</div>
{% endblock %}